@import "tailwindcss";


/* Light Theme */
:root {
  --card-border: #d1d5db; /* Light cement white */
}

/* Dark Theme */
.dark {
  --card-border: #2e2e2e; /* Initial cement grey */
  background-color: #121212;
  color: #ffffff;
}

.dark .card:hover {
  --card-border: #ef4444; /* Red on hover */
}
