.dark {
  --layout-bg: #0d0f12; 
  --layout-text: white;
}
.light {
  :root {
    --layout-bg: #f2f2f2;
    --layout-text: #1f2937;
  }
}


.admin-layout {
  background-color: var(--layout-bg);
  color: var(--layout-text);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin-layout__body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.admin-layout__main-content {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem;
}